In [1]:
import pandas as pd

In [9]:
factors = pd.read_hdf('data.h5', 'factors/formulaic')

In [10]:
factors.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1034424 entries, ('A', Timestamp('2010-01-05 00:00:00')) to ('ZION', Timestamp('2018-03-26 00:00:00'))
Data columns (total 82 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   1       1022844 non-null  float64
 1   2       1022239 non-null  float64
 2   3       1008994 non-null  float64
 3   4       1030102 non-null  float64
 4   5       1026505 non-null  float64
 5   6       1029567 non-null  float64
 6   7       1020664 non-null  float64
 7   8       1027030 non-null  float64
 8   9       1025940 non-null  float64
 9   10      1025940 non-null  float64
 10  11      1024336 non-null  float64
 11  12      1025940 non-null  float64
 12  13      1022844 non-null  float64
 13  14      1029567 non-null  float64
 14  15      837068 non-null   float64
 15  16      1032242 non-null  float64
 16  17      1020124 non-null  float64
 17  18      1020129 non-null  float64
 18  19      906527 non-null   float64
 19  20      1028400 non-null  float64
 20  21      1034424 non-null  int32
 21  22      1014906 non-null  float64
 22  23      1034424 non-null  float64
 23  24      1025256 non-null  float64
 24  25      1024249 non-null  float64
 25  26      939206 non-null   float64
 26  27      1034424 non-null  float64
 27  28      1022135 non-null  float64
 28  29      1019606 non-null  float64
 29  30      1023256 non-null  float64
 30  31      2012 non-null     float64
 31  32      905111 non-null   float64
 32  33      1028942 non-null  float64
 33  34      1025438 non-null  float64
 34  35      1016963 non-null  float64
 35  36      922681 non-null   float64
 36  37      922179 non-null   float64
 37  38      1026505 non-null  float64
 38  39      906234 non-null   float64
 39  40      1029567 non-null  float64
 40  41      1034424 non-null  float64
 41  42      1028942 non-null  float64
 42  43      1014289 non-null  float64
 43  44      1030847 non-null  float64
 44  45      1003520 non-null  float64
 45  46      1026038 non-null  float64
 46  47      1024249 non-null  float64
 47  49      1034331 non-null  float64
 48  50      981259 non-null   float64
 49  51      1034346 non-null  float64
 50  52      911547 non-null   float64
 51  53      1022786 non-null  float64
 52  54      1028942 non-null  float64
 53  55      1021126 non-null  float64
 54  57      1002742 non-null  float64
 55  60      1020129 non-null  float64
 56  61      1034424 non-null  int32
 57  62      1034424 non-null  int32
 58  64      1034424 non-null  int32
 59  65      1034424 non-null  int32
 60  66      1022649 non-null  float64
 61  68      1034424 non-null  int32
 62  71      1021649 non-null  float64
 63  72      6303 non-null     float64
 64  73      1021149 non-null  float64
 65  74      1034424 non-null  int32
 66  75      1034424 non-null  int32
 67  77      978218 non-null   float64
 68  78      984682 non-null   float64
 69  81      1034424 non-null  int32
 70  83      1021710 non-null  float64
 71  84      1016902 non-null  float64
 72  85      995788 non-null   float64
 73  86      1034424 non-null  int32
 74  88      16042 non-null    float64
 75  92      509633 non-null   float64
 76  94      968554 non-null   float64
 77  95      1034424 non-null  int32
 78  96      17001 non-null    float64
 79  98      893906 non-null   float64
 80  99      1034424 non-null  int32
 81  101     1028942 non-null  float64
dtypes: float64(70), int32(12)
memory usage: 604.5+ MB

In [24]:
ohlcv = ['open', 'high', 'low', 'close', 'volume']
data = (pd.read_hdf('data.h5', 'data/top500')
        .loc[:, ohlcv + ['ret_01', 'ret_fwd']]
        .rename(columns={'ret_01': 'returns'})
        .sort_index())

In [25]:
data

                        open       high        low      close     volume  \
ticker date
A      2010-01-05  21.292732  21.299554  20.985724  21.122172  2994300.0
       2010-01-06  21.047125  21.149461  20.985724  21.047125  2320300.0
       2010-01-07  20.999368  21.026658  20.808341  21.019836  2214000.0
       2010-01-08  20.903855  21.047125  20.740117  21.013013  2670900.0
       2010-01-11  21.067592  21.183573  20.924322  21.026658  3420300.0
...                      ...        ...        ...        ...        ...
ZION   2018-03-20  55.350000  55.471200  54.470000  54.800000  2643688.0
       2018-03-21  54.940000  55.780000  54.390000  55.100000  1992966.0
       2018-03-22  54.530000  54.700000  52.970000  53.070000  2578239.0
       2018-03-23  53.220000  53.550000  51.170000  51.230000  3378671.0
       2018-03-26  52.200000  53.410000  51.900000  53.240000  2357767.0

                    returns   ret_fwd
ticker date
A      2010-01-05 -0.010863 -0.003553
       2010-01-06 -0.003553 -0.001297
       2010-01-07 -0.001297 -0.000325
       2010-01-08 -0.000325  0.000649
       2010-01-11  0.000649 -0.012005
...                     ...       ...
ZION   2018-03-20 -0.003455  0.005474
       2018-03-21  0.005474 -0.036842
       2018-03-22 -0.036842 -0.034671
       2018-03-23 -0.034671  0.039235
       2018-03-26  0.039235 -0.022915

[1034424 rows x 7 columns]

In [26]:
df = pd.merge(data, factors, left_index=True, right_index=True)

In [27]:
df.to_feather('factor_ret_all.feather')

D:\anaconda3\Lib\site-packages\pyarrow\feather.py:156: UserWarning: The DataFrame has column names of mixed type. They will be converted to strings and not roundtrip correctly.
  table = Table.from_pandas(df, preserve_index=preserve_index)